NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_ENABLE_META_PIXEL_IN_DEV=false
NEXT_PUBLIC_ENABLE_MARKETING_COOKIE_CONSENT=true
NEXT_PUBLIC_ENABLE_META_CONVERSIONS_API=false
META_CONVERSIONS_API_TOKEN=
META_TEST_EVENT_CODE=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
